{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1 class="text-center">Андрей Можейко</h1>
  <hr>
  <h3 class="bg-success">Образование</h3>
    <p>Окончив <del>3 класса церковно-приходской школы</del> медицинский университет меня не покидало желание приобщиться к миру
        программирования. Спустя 4 года медицинской практики в качестве онколога-хирурга я прошел курсы программирования на языке
        Python и теперь вы видите результат этого обучения.
    </p>
    <p>Во время обучения на курсах программирования активно изучал смежные темы и
    развивал навыки поиска, систематизации и применения новой информации</p>
    <h3 class="bg-success">Навыки</h3>
    <ul>
        <li>Python</li>
        <li>Django</li>
        <li>HTML</li>
        <li>Bootstrap</li>
        <li>SQLite</li>
        <li>Медицинское консультирование и лечение</li>
    </ul>
    <h3 class="bg-success">Хобби</h3>
    <ul>
        <li>Программирование</li>
        <li>Музыка</li>
        <li>Автоспорт</li>
        <li>DIY</li>
    </ul>
    <h3 class="bg-success">Итог</h3>
    <p>
        Определенно необходим в команде разработчиков Вашей компании!
    </p>
    <br>
    <br>
</div>
{% endblock page_content %}